body {
  font-family: "Quicksand", sans-serif;
}

h1, h2, h3, h4 {
  color: #0E9CAF;
  text-align: center;
  font-size: 2.2em;
}

a:focus {
  outline: 0;
  /* styling for any way a link is about to be used */
}

#about p {
  font-size: 1.0em;
  line-height: 1.6em;
}

#about p.lead {
  font-size: 1.5em;
  line-height: 1.6em;
}

#skills {
  background: #0E9CAF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #0E9CAF, #D8919E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #0E9CAF, #D8919E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #0E9CAF, #D8919E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #0E9CAF, #D8919E); /* Standard syntax */

  color: #fff;
  text-align: center;
  height: auto;
}

#skills h3{
  color: #fff;

}

#skills img{
  width: 100px;
  margin: 2px;
}

.content{
  margin-top: 100px;
  margin-bottom: 100px;
}

#portfolio, #portfolio h3{
  text-align: center;
  color: #fff;
}

.font-small {
  font-size: 0.9em;
}

.font-big {
  font-size: 1.2em;
}

.bottom-margin-20 {
  margin-bottom: 20px;
}

header#page-top{
  background-image: url("https://static.pexels.com/photos/34676/pexels-photo.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  padding-top: 50px;
  position: relative;
  color: #fff;
}

header .header-content{
  font-size: 2em; 
}

.header-text {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 0px #0E9CAF;
  font-size: 2.2em;
  letter-spacing: 3px;
}

#portfolio {
  background-image: url("https://static.pexels.com/photos/34676/pexels-photo.jpg");
  background-attachment: fixed;
  background-size: cover;
|}

#portfolio h3 h4{
  color: #000;
}

.social-links {
  list-style-type: none;
}
.social-links li {
  display: inline-block;
}
.social-links a.btn {
  padding: 0.3em;
  background-color: #D8919E;
  text-decoration: none;
  color: white;
  margin: 5px;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.social-links a.btn:hover {
  background-color: #0E9CAF;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.list-portfolio {
  list-style-type: none;
}
.list-portfolio li {
  display: inline-block;
}

.img-portfolio {
  margin: 10px 0px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
